---
Checks: >
  -*,
  modernize-use-nullptr,
  modernize-use-override,
  clang-analyzer-core.NullDereference,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks
WarningsAsErrors: ''
HeaderFilterRegex: '.*chess.*'
FormatStyle: file
